* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 28, 88, 0.5), rgba(3, 117, 211, 0.9)), url(https://7Brandyn.github.io/images/website-background.png);
    background-size:cover;
    background-blend-mode: multiply;
}


body {
    background: url('./images/website-background.png');
}

canvas {
    display: block;
}