*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  color: #313131;
}

li {list-style: none;}
a {color: inherit; text-decoration: none;}
a:link {text-decoration: none;}    
a:visited{text-decoration: none;}
a:hover {color: #DA160A;}


body {
  background-color: #f4f4f4;
}

h1 {font-size: 4rem;}
h2 {font-size: 3rem; font-weight: 400;}
h3 {font-size: 2.5rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.6rem;}
p {font-size: 1.4rem;}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
  z-index: 1;
  height: 60px;
  font-size: 2vw;
  position: fixed;
  color: #313131;
  background-color: #f4f4f4;
}

button {
  transition: .3s;
  color: #DA160A;
  font-size: 1rem;
  background-color: #f4f4f4;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #DA160A;
}

button:hover {
  cursor: pointer;
  color: #f4f4f4;
  transition: .3s;
  background-color: #DA160A;
  border: 1px solid #DA160A;
}

button:hover > a > p {
  color: #f4f4f4;
}

button:active {
  transition: none;
  transition-delay: 0s;
  box-shadow: 0px 0px 5px #ff0000;
}

button:active::after {
  color: #f4f4f4;
  transition: none;
  transition-delay: 0s;
  box-shadow: 5px 10px #ff0000;
}


#my-name {
  color: #DA160A;
  white-space: nowrap;
  font-weight: 700;
}

#career-title {
  white-space: nowrap;
  font-weight: 500;
}

#projects-header {
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding-top: 64px;
  margin-bottom: 16px;
}

.project-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;  
  color: #313131;
  z-index: 1;
}

/* NOTE: Allow items to weigh 700 and become highlighted #DA160A using JavaScript */
/* #menu-items > :nth-child(3) {
color: #DA160A;
} */
.project-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

#pro-title {
  font-size: 4.6vw;
}

#project-text {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

#project-show img {
  width: 100%;
  min-width: 300px;
  height: auto;
  transition: .4s;
}

#project-show {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 16px;
  width: 50%;
  height: auto;
}

#pro-type {
  color: #DA160A;
  font-size: 3.2vw;
}

.closebtn {
  display: none;
}


.icon-container p {
  font-size: 1.8vw;
}

::placeholder {
  text-align: left; 
}

/* or, for legacy browsers */

::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: left;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: left;  
}

:-ms-input-placeholder {  
  text-align: left; 
}

input[type=text], select, textarea {
  font-family: 'Inter', sans-serif;
  display: inline;
  font-size: 1rem;
  width: 100%;
  padding: 16px;
  border: 0px solid #313131;
  border-radius: 8px; 
  box-sizing: border-box; 
  margin-top: 8px; 
  margin-bottom: 16px;
}


input[type=submit] {
  background-color: #313131;
  color: #f4f4f4;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .25s;
}

input[type=submit]:hover {
  background-color: #DA160A;
  color: #f4f4f4;
  font-size: 1.5rem;
  font-weight: 500;
}

input[type=email], select, textarea {
  display: flex;
  font-size: 1rem;
  width: 100%;
  padding: 16px;
  border: 0px solid #313131;
  border-radius: 8px; 
  box-sizing: border-box; 
  margin-top: 8px; 
  margin-bottom: 16px;
  resize: vertical;
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 32px;
}

form > p {
  text-align: center;
  font-size: 3vw;
}
/* ------------------------- BIGGER SCREENS ------------------------- */
/* ------------------------- BIGGER SCREENS ------------------------- */
/* ------------------------- BIGGER SCREENS ------------------------- */
/* ------------------------- BIGGER SCREENS ------------------------- */
/* ------------------------- BIGGER SCREENS ------------------------- */


/* ----NAVBAR---- */
@media screen and (min-width: 768px) {


  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    z-index: 1;
    height: 60px;
    font-size: 2vw;
    position: fixed;
    color: #313131;
    background-color: #f4f4f4;
  }

  .closebtn {
    display: none;
  }
  
  #home {
    font-family: 'Bungee Inline', cursive;
    font-size: 3vw;
    background-image: linear-gradient(
      -90deg,
    #DA160A 0%,
    #ffffff 15%,
    #DA160A 20%,
    #e5281e 60%,
    #DA160A 100%
    );
    white-space: nowrap;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
  } 
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
 
  .navbar-menu-items {
    width: 100%;
    padding-top: 16px;
    z-index: 1;
  }

  .nav-links {
    display: flex;
    position: relative;
    justify-content: space-evenly;
  }
  
  .nav-links li {
    padding: 0px 4vw;
  }
  
  #resume {
    padding-right: 16px;
  }

  /* ---- LANDING PAGE ---- */
  .landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #head {
    width: 22vw;
    padding-left: 32px;
  }

  #my-name {
    animation: fade-in-up 2s ease 0s 1;
    animation-fill-mode: forwards;
    color: #DA160A;
    white-space: nowrap;
    font-weight: 700;
    font-size: 6vw;
  }

  .my-info {
    padding-left: 16px;
  }

  #career-title {
    white-space: nowrap;
    font-weight: 500;
    font-size: 4.4vw;
  }

  #career-description {
    white-space: nowrap;
    font-size: 3vw;
  } 
}

/* ----PROJECTS---- */

@media screen and (min-width: 768px) {
  .project-container {
    padding: 0 32px;
    margin-bottom: 128px;
  }

  .project-section {
    padding: 128px 32px 0 32px;
  }

  #project-menu-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    box-shadow: 0 15px 15px 0 #f4f4f4;
    z-index: 1;
  }

  #project-menu-items li {
    margin-top: 72px;
  }  

  #project-text {
    padding: 112px 0px 0 0px;
  }

  #project-show img:hover {
    transform: rotate(5deg) scale(1.1);
    transition: .4s;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg) scale(1.1);
  }

  #duration {
    padding-bottom: 8px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
/* ----DEVELOPER TOOLS----  */
  #developer-tools-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 16px;
  }

  .developer-tools-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 128px;
  }

  .developer-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    max-width: 1200px;
    margin: 0 32px;
  }

  #img1, #img2, #img3, #img4, #img5, #img6 {
    margin: 16px 48px;
    max-width: 16vw;
    height: auto;
  }

  /* ----DESIGN TOOLS---- */
  #design-tools-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 16px;
  }

  .design-tools-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 128px;
  }

  .design-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    max-width: 1200px;
    padding: 0 32px;
  }

  #img1, #img2, #img3, #img4, #img5, #img6 {
    margin: 16px 48px;
  }
}

@media screen and (min-width: 768px) {
/* ----ABOUT ME----  */
  #about-me-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 16px;
  }

  .about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #moretext {
    padding: 32px;
  }

  #moretext > h4 {
    padding-bottom: 16px;
  }

  #about-description {
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }

  #me {
    max-width: 400px;
    height: auto;
    width: 100%;
    padding: 32px;
  }
  
  #journey {
    text-align: center;
    padding: 16px 32px;
    margin-bottom: 128px;
  }
}

@media screen and (min-width: 768px) {
  /* ----CONTACT ME---- */
  #contact-me-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 32px;
  }

  
}

@media screen and (min-width: 768px) {

/* ----FOOTER---- */
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    background-color: #313131;
    color: #f4f4f4;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #icon-collection-1 {
    padding: 0 32px;
  }

  #icon-collection-2 {
    padding: 0 32px;
  }

  #icon-collection-1 > a {
    padding: 0 1vw;
  }

  #icon-collection-2 > a {
    padding: 0 1vw;
  }
}

/* ------------------------- SMALLER SCREENS ------------------------- */
/* ------------------------- SMALLER SCREENS ------------------------- */
/* ------------------------- SMALLER SCREENS ------------------------- */
/* ------------------------- SMALLER SCREENS ------------------------- */
/* ------------------------- SMALLER SCREENS ------------------------- */

@media screen and (max-width: 767.99px) {
  h1 {font-size: 3rem;}
  h2 {font-size: 2.4rem; font-weight: 400;}
  h3 {font-size: 2rem;}
  h4 {font-size: 3vw;}
  h5 {font-size: 1.4rem;}
  p {font-size: 1rem;}
}


/* MENU */
@media screen and (max-width: 767.99px) {
  #resume {
    display: none;
  }

  .navbar-menu-items {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .nav-links {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .navbar-menu-items a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  .navbar-menu-items #home {
    display: none;
    visibility: hidden;
  }
  
  .navbar-menu-items a:hover, .navbar-menu-items a:focus {
    color: #f1f1f1;
  }
  
  .navbar-menu-items .closebtn {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 12vw;
  }

  .open-button {
    position: fixed;
    z-index: 999;
    padding: 16px 32px;
    font-family: 'Bungee Inline', cursive;
    font-size: 8vw;
    background-image: linear-gradient(
      -90deg,
    #DA160A 0%,
    #ffffff 15%,
    #DA160A 20%,
    #e5281e 60%,
    #DA160A 100%
    );
    white-space: nowrap;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
  } 
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .open-button:hover {
    transform: scale(1.1) rotate(5deg);
    cursor: pointer;
  }
}

@media screen and (max-width: 767.99px) {
  /* ----LANDING PAGE---- */
  .landing-container {
    flex-direction: column-reverse;
    width: auto;
  }

  #head {
    padding: 8px;
    width: 24vw;
  }

  .my-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #career-title {
    font-size: 6vw;
  }

  #career-description {
    font-size: 4vw;
  }

  #my-name {
    font-size: 8vw;
  }
}

@media screen and (max-width: 767.99px) {
  /* ---- PROJECT SECTION ---- */
  .project-container {
    padding: 0 18px;
    margin-bottom: 128px;
  }

  #project-menu-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    box-shadow: 0 15px 15px 0 #f4f4f4;
    z-index: 1;
  }

  #project-menu-items li {
    margin-top: 10px;
  }

  #project-menu-items h4 {
    font-size: 3vw;
  }

  .project-section {
    flex-wrap: wrap;
    justify-content: center;
    padding: 112px 16px 0 16px;
  }

  #pro-title {
    font-size: 6vw;
    padding-bottom: 8px;
  }

  #pro-type {
    font-size: 5vw;
    font-weight: 500;
    padding-bottom: 8px;
  }

  #duration {
    font-size: 3.2vw;
    padding-bottom: 8px;
  }

  #pro-description {
    font-size: 3.6vw;
  }

  .project-section:nth-child(4) {
    padding-top: 40px;
  }

  #project-show {
    justify-content: center;
  }

  #project-show img {
    width: 64vw;
  }

  #project-show img:hover {
    transform: rotate(5deg) scale(1.1);
    transition: .4s;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg) scale(1.1);
  }

  #project-show img:hover::after {
    transform: rotate(0deg) scale(1);
    transition: .4s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg) scale(1);
  }

  #pro-type {
    color: #DA160A;
  }

    /* ----DEVELOPER TOOLS----  */
  #developer-tools-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 16px;
  }

  .developer-tools-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 128px;
  }

  .developer-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    max-width: 1200px;
    margin: 0 32px;
  }

  #img1, #img2, #img3, #img4, #img5, #img6 {
    margin: 16px 48px;
    max-width: 16vw;
    height: auto;
  }

  /* ----DESIGN TOOLS---- */
  #design-tools-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 16px;
  }

  .design-tools-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 128px;
  }

  .design-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    max-width: 1200px;
    padding: 0 32px;
  }

  #img1, #img2, #img3, #img4, #img5, #img6 {
    margin: 16px 16px;
  }

  /* ----ABOUT ME----  */
  #about-me-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 16px;
  }

  .about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #moretext {
    padding: 32px;
  }

  #moretext > h4 {
    padding-bottom: 16px;
    font-size: 8vw;
  }

  #about-description {
    display: flex;
    flex-wrap: wrap;
  }

  #me {
    max-width: 400px;
    height: auto;
    width: 100%;
    border-radius: 600px;
    padding: 32px;
  }

  #journey {
    text-align: center;
    padding: 16px 32px;
    margin-bottom: 128px;
  }

  /* ----CONTACT ME---- */
  #contact-me-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding-top: 64px;
    margin-bottom: 32px;
  }


  /* ----FOOTER---- */
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
    background-color: #313131;
    color: #f4f4f4;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #icon-collection-1 {
    padding: 2vw;
  }

  #icon-collection-2 {
    padding: 2vw;
  }

  #icon-collection-1 > a > img {
    height: 4vw;
  }

  #icon-collection-2 > a > img {
    height: 4vw;
  }
}