* {
    font-size: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*letter-spacing: 2px;
    cursor: url('./images/cursor2.png'), auto; */
    cursor: url('images/cursor.png'), auto;
}

/* BACKGROUND IMAGE */

body {
    color: #dcfffb;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    width: auto;
    margin: 0;
}

.dark-mode {
    transition-duration: 0.5s;
    color: #dd5353;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(https://7Brandyn.github.io/images/website-background.png);
    background-size: cover;
    background-blend-mode: multiply;
}

.dark-mode a {
    color: #dd5353;
}

.dark-mode a:hover {
    color: #dcfffb;
}

.dark-mode .main-button {
    color: #dd5353;
    border: 3px solid #dd5353;
}

.dark-mode #dark {
    color: #dd5353;
    border-color: #dd5353;
}

.dark-mode #lite {
    color: #dd5353;
    border-color: #dd5353;
}

.dark-mode #dark:hover {
    color: #d5fffa;
    border-color: #dd5353;
}

.dark-mode #lite:hover {
    color: #292929;
    border-color: #dd5353;
}

.light-mode {
    transition-duration: 0.5s;
    color: #dcfffb;
}

button:active {
    transform: scale(90%);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

h1 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 1.5rem;
    padding-bottom: 16px;
    letter-spacing: 1px;
}

h3 {
    /* font-size: 1rem; */
    padding: 6px 0px 8px 0px;
    font-weight: 700;
}

p {
    opacity: 75%;
    padding: 8px 0px;
    max-width: 580px;
}

ul {
    font-style: oblique;
}

li {
    opacity: 75%;
    list-style-type: none;
}

a {
    color: #d5fffa;
    text-decoration: none;
}

#perfect {
    font-size: 30px;
}

a:hover {
    opacity: 100%;
    transition-duration: 0.5s;
    color: #dd5353;
    text-shadow: 0px 0px 5px rgb(255, 0, 0);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    font-style: normal;
    margin: 16px;
}


header {
    padding: 18px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

#theme {
    margin-left: 12px;
    font-size: 12px;
}

#theme button {
    display: flex;
    letter-spacing: normal;
    justify-content: center;
    transition-duration: 0.5s;
    width: 64px;
    border-radius: 5px;
    letter-spacing: 4px;
}

#dark {
    opacity: 0.5;
    color: #d5fffa;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid #d5fffa;
}

#dark:hover {
    opacity: 1.0;
    background-color: #dd5353;
}

#lite {
    opacity: 0.5;
    color: #d5fffa;
    background-color: transparent;
    border: 1px solid #d5fffa;
}

#lite:hover {
    opacity: 1.0;
    color: #292929;
    background-color: #d5fffa;
}

.main-text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px 26px;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 28, 88, 0.5), rgba(3, 117, 211, 0.9)), url(https://7Brandyn.github.io/images/website-background.png);
    background-size:cover;
    background-blend-mode: multiply;
    overflow: scroll;
}

.spacer {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.text-one-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    min-width: 200px;
    flex: 1 1 33%;
    margin: 16px;
}


.text-three-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    max-height: 800px;
    flex: 1 1 33%;
    margin: 16px;
}

.main-button {
    letter-spacing: 6px;
    display: flex;
    justify-content: center;
    color: #d5fffa;
    transition-duration: 0.5s;
    padding: 20px 10px;
    max-width: 380px;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #d5fffa;
    background-color: transparent;
}
  
.main-button:hover {
    background-color: #dd5353;
    color: #d5fffa;
    font-weight: 700;
}

#list-container {
    display: flex;
    margin-bottom: 16px;
}

#program-container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    max-width: 180px;
    width: auto;
}

#project-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    max-width: 180px;
    width: auto;
}

.list-2-container {
    display: flex;
}

/* MUSIC PLAYER */
#wrapper {
    margin: 0 auto;
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 6px;
    background-color: #612d2d;
    width: 180px;
    padding: 3px;
    box-sizing: border-box;
}

input[type="image"] {
    float: left;
    height: 10px;
    margin-left: 5px;
    margin-right: 3px;
}

.footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.1rem;
    transition: all .2s ease-in-out;
}

/* LINK IMAGES */

.footer > a {
    padding-right: .4rem;
    opacity: 0.4;
    transition-duration: 0.5s;
}

.footer > a:hover {
    opacity: 1.0;
}

.footer img {
    transition: all .2s ease-in-out; 
}

.footer img:hover {
    transform: scale(1.4);
}