* {
    font-size: 95%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /*letter-spacing: 2px;
    cursor: url('./images/cursor2.png'), auto; */
    cursor: url('images/cursor.png'), auto;
}

/* BACKGROUND IMAGE */

html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 28, 88, 0.5), rgba(3, 117, 211, 0.9)), url(https://7Brandyn.github.io/images/website-background.png);
    background-size:cover;
    background-blend-mode: multiply;
}

body {
    color: #dcfffb;
}

h1 {
    color: #99fff3;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

h2 {
    color: #99fff3;
    font-size: 1.5rem;
    padding-bottom: 16px;
    letter-spacing: 1px;
}

h3 {
    color: #dcfffb ;
    /* font-size: 1rem; */
    padding: 6px 0px 8px 0px;
    font-weight: 700;
}

p {
    opacity: 75%;
    padding: 8px 0px;
    max-width: 580px;
}

ul {
    font-style: oblique;
}

li {
    opacity: 75%;
    list-style-type: none;
}

button {
    letter-spacing: 6px;
}

a {
    color: #d5fffa;
    text-decoration: none;
}

#perfect {
    font-size: 30px;
    text-shadow: 2px 2px 3px rgb(51, 51, 51);
}

a:hover {
    opacity: 100%;
    transition-duration: 0.4s;
    color: #dd5353;
    text-shadow: 0px 0px 5px rgb(255, 0, 0);
}

.bar {
    display: flex;
}

.navbar > ul > li {
    margin-left: 48px;
    color: #f7fffe;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    margin: 18px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    margin: 8px 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.text-one-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
    flex: 1 1 33%;
}

.text-three-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    margin: 10px 30px 10px 10px;
    max-height: 800px;
    flex: 1 1 33%;
}

.main-button {
    display: flex;
    justify-content: center;
    color: #d5fffa;
    transition-duration: 0.4s;
    padding: 20px 10px;
    max-width: 380px;
    width: 100%;
    border-radius: 5px;
    border: 3px solid #d5fffa;
    background-color: transparent;
}
  
.main-button:hover {
    background-color: #dd5353;
    color: #d5fffa;
    font-weight: 700;
}

#list-container {
    display: flex;
    margin-bottom: 16px;
}

#program-container {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    max-width: 180px;
    width: auto;
}

#project-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    max-width: 180px;
    width: auto;
}

.list-2-container {
    display: flex;
}

/* MUSIC PLAYER */
#wrapper {
    margin: 0 auto;
}

#player {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 6px;
    background-color: #612d2d;
    width: 180px;
    padding: 3px;
    box-sizing: border-box;
}

input[type="image"] {
    float: left;
    height: 10px;
    margin-left: 5px;
    margin-right: 3px;
}

.footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2.1rem;
    transition: all .2s ease-in-out;
}

/* LINK IMAGES */

.footer > a {
    padding-right: .4rem;
    opacity: 0.4;
    transition-duration: 0.4s;
}

.footer > a:hover {
    opacity: 1.0;
}

.footer img {
    transition: all .2s ease-in-out; 
}

.footer img:hover {
    transform: scale(1.4);
}