* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* BACKGROUND IMAGE */

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height:100%;
    background:linear-gradient(0deg, rgba(0, 28, 88, 0.3), rgba(3, 117, 211, 0.7)), url(./images/website-background.png);
    background-size:cover;
    background-blend-mode: multiply;
    
}

body {
    color: #f7fffe;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

h1 {
    /*font-size: 3rem;*/
    /*padding: 1rem 0rem;*/
    font-size: 48px;
    padding: 16px 0px;
}

h3 {
    /*font-size: 1.5rem;*/
    /*padding: .7rem 0rem;*/
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0px;
}

p {
    /*font-size: 1rem;*/
    /*padding: .7rem 0rem;*/
    font-size: 16px;
    padding: 10px 0px;
}

li {
    /*font-size: 1rem;*/
    font-size: 16px;
    list-style-type: none;
}

button {
    cursor: pointer;
    letter-spacing: 4px;
}

a {
    color: #f7fffe;
    text-decoration: none;
}

a:hover {
    color: #dd5353;
}


.navbar > ul > li {
    /*font-size: 1rem;*/
    font-size: 16px;
    color: #f7fffe;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 4px;
}

.navbar {
    /*margin: 2rem;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px;
}

.main-text {
    /*margin: 1.5rem;*/
    margin: 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.text-one-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex: 0 0 33%;
}

.email {
    color: #f7fffe;
    transition-duration: 0.4s;
    /*padding: 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: .3rem solid #cee5f8;
    margin: 3rem 0rem;*/
    padding: 32px;
    font-size: 24px;
    border-radius: 16px;
    border: 4px solid #cee5f8;
    margin: 32px 0px;
    background-color: rgb(27, 27, 27);
}
  
.email:hover {
    background-color: #dd5353;
    color: #f7fffe;
}

.text-three-container > h3 {
    display: flex;
    font-style: italic;
    justify-content: center;
}

.text-three-container {
    /*margin-right: 4rem;*/
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 600px;
    flex: 1 1 33%;
}

#list-container {
    display: flex;
}

#program-container {
    padding-right: 6rem;
}


#project-container {
    /*margin-top: 2rem;
    padding-right: 6rem;*/
    margin-top: 32px;
    padding-right: 134px;
}

.list-2-container {
    display: flex;
}

.footer {
    /*margin-top: 2rem;*/
    margin-top: 32px;
}

/* LINK IMAGES */

.footer > a {
    /*padding-right: .3rem;*/
    padding-right: 4px;
    opacity: 0.4;
    transition-duration: 0.4s;
}

.footer > a:hover {
    opacity: 1.0;
}
